include bipy_gui_manager/new/resources/install-project.sh
include bipy_gui_manager/deploy/resources/app_deploy.sh
include bipy_gui_manager/run/resources/app_run.sh
include bipy_gui_manager/utils/resources/PyQt-logo-gray.png
